<canvas id="confetti"></canvas>

<section class="instructions congrats-text">
  <h1>Congratulations!</h1>
  <div class="text-center"><%= image_tag "mac_steps/congrats_sam.png", class: "congrats-sam", style: 'display:inline;' %></div>

  <h2>What’s next?</h2>
  <ol>
    <li>
      <strong><%= link_to "One Month Python", "https://onemonth.com/courses/python?utm_source=installpython&utm_campaign=python&utm_medium=installpython", target: "_blank" %></strong> helps you learn the basics of python in less than one month!
    </li>
  </ol>
  <p><%= link_to "One Month Python", "https://onemonth.com/courses/python?utm_source=installpython&utm_campaign=python&utm_medium=installpython" %> is an introduction to programming with Python for total beginners. Python is a really popular language used by companies like Google, Facebook, Dropbox, Instagram, and Reddit. Python is used for all sorts of things like building websites, web scraping, data analysis, machine learning, and natural language processing. The language is designed to be easy to read, while still being very powerful, which makes it a great language for beginners to learn.</p>
 
<p>In this online course, we’ll learn the basics of programming – variables, strings, lists, functions, and all that stuff – but we’ll be doing it with a focus on business use cases. You’ll learn how to write scripts that automate tedious tasks, read other people’s code, parse and interpret data, interact with APIs, and build web scrapers.</p> 
 
<p>In just 30 days, <%= link_to "One Month Python", "https://onemonth.com/courses/python?utm_source=installpython&utm_campaign=python&utm_medium=installpython" %> will take you from a beginner (no prior programming experience necessary) to an intermediate Python developer.</p> 


</section>

<script>
  mixpanel.track("Congratulations! Finished");
</script>
