<section class="instructions">
  <h1>Getting Pip</h1>
  <ol>
    <li>
      <p>Now lets get pip. Run the following in your terminal</p>
      <pre><code>curl https://bootstrap.pypa.io/get-pip.py > get-pip.py</code></pre>
      <p>This is what it looks like.</p>
      <%= image_tag "windows/pip_download.png", class: "img-responsive" %>
    </li>
    <li>
      <p>Next we'll run <pre><code>python get-pip.py</code></pre> to install it.</p>
      <p>When it's done, it looks like this.</p>
      <%= image_tag "windows/pip_install.png", class: "img-responsive" %>
      <p>That’s it! We now have A terminal (Gitbash) Python installed, and git too. Boom!</p>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
