<section class="instructions">
  <h1>Getting Git</h1>
  <ol>
    <li>
      <p>copy OMRAILS GIT pages</p>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
