<section class="instructions">
  <h1>Install Git</h1>
  <ol>
    <li>
      <p>In your terminal type</p>
      <p><code>brew install git</code></p>
    </li>
    <li>
      <p>To verify your installation, in your terminal type</p>
      <p><code>git --version</code></p>
      <p>Approximate expected result</p>
      <p><code>git version 2.x.x</code></p>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
