<section class="instructions">
  <h1>A word on Pip vs. pip3</h1>
  <p>Earlier we used pip3, which came from homebrew with python3. When we are in virtual environments, like the test-env we just created it exposes pip3 to us as pip. This can be confusing, but just know that if you are in a venv pip3/pip will both work, while outside of a venv only pip3 will work.</p>
  <p>Boom. You got an environment w/python3 Have fun learning with One Month :)</p>
</section>

<%= render 'layouts/step_navigation' %>